- content_for :left do

  %h2
    = @blocks.first.title 
  = parse_markdown(@blocks.first.content)
  .go.red-bright.clearfix
    %a.icon-go{ :href => literary_routes_path }

- content_for :right do

  %h2
    = @blocks.last.title 
  = parse_markdown(@blocks.last.content)
  .go.red-bright.clearfix
    %a.icon-go{ :href => statues_path }
