- title("#{_('Página')} - #{@page.name}")

.box
  .titlebar
    = "#{_('Página')} - #{@page.name}" 
  .content
    %table#blocks
      %thead
        %tr
          %td= _("Blocos")
          %td.action
      %tbody
        = render @page.blocks
  
