%tr{:class => defined?(block_counter) ? zebra(block_counter) : "new"}
  %td
    = link_to block.title, [:edit, :admin, @page, block]
  %td.action
    %span.action 
      = link_to "Editar", [:edit, :admin, @page, block]
