%tr{:class => defined?(citation_counter) ? zebra(citation_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "citation[]", :value => citation.id}
	%td
		= link_to truncate(citation.citation), [:edit, :admin, citation]
	%td
		= link_to citation.book.title, [:edit, :admin, citation.book]
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, citation]
		|
		%span.action 
			= link_to	"Apagar", [:admin, citation], :method => "delete"