- title(_("Citações"))

.box
	.titlebar
		= _("Citações")
	.content
		= form_tag([:delete, :admin, :citations], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :citation], :table => @citations}
			%table#citations
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Citação")
						%td= _("Livro")
						%td.action
				%tbody
					= render @citations
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :citation], :table => @citations}