%tr{:class => defined?(book_counter) ? zebra(book_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "book[]", :value => book.id}
	%td
		= link_to book.title, [:edit, :admin, book]
		%td
			- book.authors.each do |author|
				= link_to author.name, [:edit, :admin, author]
				= "|" unless author == book.authors.last
	%td
		= book.date
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, book]
		|
		%span.action 
			= link_to	"Apagar", [:admin, book], :method => "delete"