(function() {
	var form = $("form[id*=book]");
	<% if @book.errors.any? %>

	var errors = <%= @book.errors.to_json.html_safe %>;
	form.formErrors(errors, "book").trigger("save:error");

	<% else %>
	var book = <%= @book.to_json.html_safe %>;
	
	form.trigger("save:success", [{
		valueMember: book.book.id,
		displayMember: book.book.title
	}]);

	$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
		$(this).remove();
	});
	<% end %>
})();