- title(_("Livros"))

.box
	.titlebar
		= _("Livros")
	.content
		= form_tag([:delete, :admin, :books], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :book], :table => @books}
			%table#books
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Título")
						%td= _("Autor")
						%td= _("Ano")
						%td.action
				%tbody
					= render @books
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :book], :table => @books}