%tr{:class => defined?(location_counter) ? zebra(location_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "location[]", :value => location.id}
	%td
		= link_to location.name, [:edit, :admin, @route, location]
	%td
		= link_to "#{_("Media")} (#{location.assets.length})", [:admin, @route, location, :assets]
	%td
		= truncate(location.description)
	%td
		= location.location
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, @route, location]
		|
		%span.action 
			= link_to	"Apagar", [:admin, @route, location], :method => "delete"