- title("#{_('Local')} - #{@location.name}")

.box
	.titlebar
		= @location.name
	.content
		%ul.button-bar
			= link_to _("Media"), [:admin, @route, @location, :assets]
		= render "shared/location_form"
