- title(_("Locais"))

.box
	.titlebar
		= _("Locais")
	.content
		= form_tag([:delete, :admin, @route, :locations], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @route, :location], :table => @locations}
			%table#locations
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Nome")
						%td= _("Media")
						%td= _("Descrição")
						%td= _("Localização")
						%td.action
				%tbody
					= render @locations
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @route, :location], :table => @locations}