%li
	- if asset.image?
		= link_to image_tag("#{asset.asset.url(:thumb)}", :alt => asset.title, :title => asset.title, :class => "tooltip"), asset.asset.url(:medium), :title => asset.title, :class => "lightbox"
	- else
		= link_to image_tag("#{asset.asset.url(:thumb)}", :alt => asset.title, :title => asset.title, :class => "tooltip"), "/admin/assets/#{asset.id}", :title => asset.title, :class => "lightbox"
	%div
		%input{:type => "checkbox", :name => "asset[]", :value => asset.id}
		= link_to image_tag("/images/#{asset.media_type}_edit.png"), assetable_url(:edit, :admin, @assetable, asset)
		= link_to image_tag("/images/#{asset.media_type}_delete.png"), assetable_url(:admin, @assetable, asset), :method => "delete"
