<% if @asset.errors.any? %>

var errors = <%== @asset.errors.to_json %>;
$("div#tabs > .ui-widget-content").not(".ui-tabs-hide").find("form").formErrors(errors, "asset");

<% else %>
var asset =  <%== @asset.info.to_json %>;
$("#media-preview").preview(asset);
$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
	$(this).remove();
});
<% end %>
