= render "shared/model_validation", :current_model => @asset
- title("#{_('Media')} - #{@assetable.title}")

.box
	.titlebar 
		= _("Editar Media Relacionado Com")
		= @assetable.title
	.content
		- if @asset.media_type == "image" && !@asset.image_url.blank?
			= render "shared/assets_form_image"
		- elsif !@asset.video_url.blank?
			= render "shared/assets_form_video"
		- else
			= render "shared/assets_form_classic"
