- title("#{_('Media')} - #{@assetable.respond_to?("title") ? @assetable.title : @assetable.name}")

.box
	.titlebar
		= _("Media Relacionado Com")
		= @assetable.respond_to?("title") ? @assetable.title : @assetable.name
	.content
		= form_tag(assetable_url(:delete, :admin, @assetable, :assets), :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => assetable_url(:new, :admin, @assetable, :asset), :table => @assets }
			%div.actions
				= _("Selecionar:")
				= link_to _("Todos"), "javascript:void(0)", :id => "gallery-select-all"
				|
				= link_to _("Nenhuns"), "javascript:void(0)", :id => "gallery-select-none"
			%ul#media-gallery.clearfix
				= render @assets