= render "shared/model_validation", :current_model => @asset

- title("#{_('Media')} - #{@assetable.title}")

- javascript do
  :javascript
    jQuery(function() {
      var uploadOptions = {
        uploadUrl: "#{assetable_url_for(:admin, @assetable, :assets)}",
        fieldName: "asset[asset]",
        buttonHolder: "upload-button-placeholder",
        queueHolder: "#media-holder",
        sessionKey: "#{Rails.application.config.session_options[:key]}",
        sessionData: "#{request.session_options[:id]}"
      };
      new Fragmentized.SwfHelper(uploadOptions);
      new Fragmentized.AssetHelper();
    });
  
#tabs
  %ul
    %li
      %a{ :href => "#flash-tab" }
        = _("Upload Múltiplo")
    %li
      %a{ :href => "#html-tab" }
        = _("Upload Simples")
    %li
      %a{ :href => "#external-image-tab" }
        = _("Imagem Externa")
    %li
      %a{ :href => "#external-video-tab" }
        = _("Vídeo Externo")
    
  #flash-tab
    .content.flash-uploader.hidden
      = render "shared/upload"

  #html-tab
    .content
      = render "shared/assets_form_classic"
  #external-image-tab
    .content
      = render "shared/assets_form_image"

  #external-video-tab
    .content
      = render "shared/assets_form_video"

.box.top-separator
  .titlebar
    = _("Media Preview")
  .content
    #media-preview
