<% if @asset.errors.any? %>

var errors = <%= @asset.errors.to_json.html_safe %>;
$("form").formErrors(errors, "asset");

<% else %>

$("#yui-main .yui-b").load("<%= assetable_url_for(:admin, @assetable, :assets) %> #yui-main .yui-b .box");
$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
	$(this).remove();
});

<% end %>