- javascript do
  :javascript
    $(".accordion").accordion({
      active: false,
      collapsible: true,
      autoHeight: false
    });
%h2.underline= _("Artistas")

- @artists.each_slice(3) do |artists|
  - artists.each do |artist|
    .artist-block.clearfix
      %h4= link_to(artist.name, artist)
      .accordion
        %h3= link_to("Biografia") 
        %div= parse_markdown(artist.biography)
        %h3= link_to(_("Obras"))
        %div
          %ul.gallery
            - artist.statues.each do |statue|
              = random_asset(artist.random_statue)
  %p.clear
