- javascript do
  :javascript
    Fragmentized.StatueMap.toggleDataDefinition();

#left-box.column
  .entity-info
    %h2.name= @artist.name
    %p
      = @artist.birthdate
      = "- #{@artist.deathdate}" unless @artist.deathdate.blank?
      = parse_markdown(@artist.biography)

#right-box.column
  %h3.underline= _("Trabalhos Referenciados")
  %ul.gallery.clearfix
    - @artist.statues.each  do |statue|
      - unless statue.assets.blank?
        %li 
          = link_to(image_tag(statue.assets.first.asset.url(:thumb)), [statue]) 
          %span= statue.title
  %h3.underline.spacer-top= _("Outros Trabalhos")
  %dl#related-work
    - @artist.related_works.each do |related| 
      %dt
        = related.name
        - unless related.date.blank? 
          = "- #{related.date}"
        - unless related.description.blank?
          %span.right
            (
            %a.more{ :href => "javascript:void(0)" }= _("+ info") 
            )
        %dd= related.description 
