- if controller_name != 'sessions'
	= link_to _("Autenticar"), new_session_path(resource_name)

- if devise_mapping.registerable? && controller_name != 'registrations'
	= link_to _("Registar"), new_registration_path(resource_name)

- if devise_mapping.recoverable? && controller_name != 'passwords'
	= link_to _("Recuperar Password?"), new_password_path(resource_name)

- if devise_mapping.confirmable? && controller_name != 'confirmations'
	= link_to _("Não recebeu instruções para confirmação?"), new_confirmation_path(resource_name)

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
	= link_to _("Não recebeu informações para desbloquear?"), new_unlock_path(resource_name)
