- javascript do
  :javascript
    $(".accordion").accordion({
      active: 0,
      collapsible: true,
      autoHeight: false
    });


%h2.underline= _("Temáticas")

- @themes.each_slice(3) do |themes|
  - for theme in themes
    .author-block.clearfix
      %h4= theme.name
      .accordion
        %h3= link_to(_("Descrição"))
        %div= parse_markdown(theme.description)
        %h3= link_to(_("Rotas"))
        %div
          - for route in theme.literary_routes
            %ul.link-list.routes
              %li= link_to(route.name, route)

%p.clear
