%tr{:class => defined?(statue_counter) ? zebra(statue_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "statue[]", :value => statue.id}
	%td
		= link_to statue.title, [:edit, :admin, statue]
	%td
		= link_to "#{_("Media")} (#{statue.assets.length})", [:admin, statue, :assets]
	%td
		= truncate(statue.description)
	%td
		= statue.location
	%td
		= truncate(statue.comment)
	%td
		= statue.date
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, statue]
		|
		%span.action 
			= link_to	"Apagar", [:admin, statue], :method => "delete"