- title(_("Estátuas"))

.box
	.titlebar
		= _("Estátuas")
	.content	
		= form_tag([:delete, :admin, :statues], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :statue], :table => @statues}
			%table#statues
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Título")
						%td= _("Media")
						%td= _("Descrição")
						%td= _("Localização")
						%td= _("Comentário")
						%td= _("Data") 
						%td.action
				%tbody
					= render @statues
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :statue], :table => @statues}