- title("Backoffice")
.box
  .titlebar 
    = _("Área de Administração") 
  .content
    %p
      = _("Bem vindo(a) à área de administração, a sua última ligação foi em")
      %strong= l(current_user.last_sign_in_at.to_date, :format => :long) 
      = _("pelas")
      %strong= l(current_user.last_sign_in_at, :format => :short)
      = "."
    %p
      = _("Utilize os menus à esquerda para gerir as várias áreas da plataforma. Qualquer problema, dúvida ou sugestão deverá ser remetida para a equipa técnica responsável através do email")
      %strong= Site.support 
      = _("ou utilizando o formulário de suporte.")
.box
  .titlebar
    = _("Formulário de Suporte")
  .content
    = render "shared/support"
