%tr{:class => defined?(author_counter) ? zebra(author_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "author[]", :value => author.id}
	%td
		= link_to author.name, [:edit, :admin, author]
	%td
		= author.birthdate
	%td
		= author.deathdate
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, author]
		|
		%span.action 
			= link_to	"Apagar", [:admin, author], :method => "delete"