(function() {
	var form = $("form[id*=author]");
	<% if @author.errors.any? %>
	var errors = <%= @author.errors.to_json.html_safe %>;
	form.formErrors(errors, "author").trigger("save:error");

	<% else %>
	var author = <%= @author.to_json.html_safe %>;
	
	form.trigger("save:success", [{
		valueMember: author.author.id,
		displayMember: author.author.name
	}]);
	
	$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
		$(this).remove();
	});
	<% end %>
})();
