- title("#{_('Autor')} - #{@author.name}")

.box
	.titlebar
		= @author.name
	.content
		%ul.button-bar
			%li= link_to _("Livros"), [:books, :admin, @author]
			%li= link_to _("Rotas Literárias"), [:routes, :admin, @author]
		= render "shared/author_form"