- title(_("Autores"))

.box
	.titlebar
		= _("Autores")
	.content
		= form_tag([:delete, :admin, :authors], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :author], :table => @authors}
			%table#authors
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Nome")
						%td= _("Ano Nascimento")
						%td= _("Ano Morte")
						%td.action
				%tbody
					= render @authors
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :author], :table => @authors}