%h2.underline= _("Entidades Representadas") 
%ul.abc.clearfix
  - linked_abc(@abc).each do |char|
    %li= char

%ul.gallery.clearfix
  - @entities.each do |entity|
    - if entity.statues.any? && entity.random_statue.assets.any?
      %li
        = link_to(image_tag(entity.random_statue.random_asset.url(:thumb)), entity_path(entity, :type => entity.class.name.downcase))
        %span= entity.name
