- javascript do
  :javascript
    Fragmentized.StatueMap.initialize({
      mapCanvas: "#map-canvas",
      mapOverlay: "#map-overlay",
      url: "/api/statues/#{@entity.class.name.downcase}/#{@entity.id}"
    }); 
    Fragmentized.StatueMap.toggleDataDefinition();

#left-box.column
  .entity-info
    %h2.name= @entity.name
    %p
      = @entity.birthdate
      = "- #{@entity.deathdate}" unless @entity.deathdate.blank?
    #statue-preview 
    %p 
      - if @entity.is_a?(Entity)
        = parse_markdown(@entity.description)
      - else
        = parse_markdown(@entity.biography)

#right-box.column
  #map-canvas
  %p 
  - unless @entity.is_a?(Entity)
    %h3.underline= _("Percursos Literários")
    - if @entity.literary_routes.any?
      %dl#routes-list
        - @entity.literary_routes.each do |route|
          %dt
            %span.map-icon
            = route.name
            %span.right= raw "( #{link_to(_("Ver Percurso"), route)} )"
          %dd
            = parse_markdown(route.description)
    - if @entity.books.any?
      %h3.underline= _("Obras Literárias")
      %ul.books
        - @entity.books.each do |book|
          %li
            %span.book-icon
            = book.title + ','
            - unless book.publisher.blank?
              = "#{book.publisher},"
            - unless book.location.blank?
              = "#{book.location},"
            - unless book.date.blank?
              = "#{book.date}"
