%tr{:class => zebra(artist_counter)}
	%td.check
		%input{:type => "checkbox", :name => "artists[]", :value => artist.id}
	%td
		= link_to artist.name, [:edit, :admin, artist]
	%td
		= artist.birthdate
	%td
		= artist.deathdate
	%td
		= truncate(artist.biography, :length => 40)
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, artist]
		|
		%span.action 
			= link_to	"Apagar", [:admin, artist], :method => "delete"