(function() {
	var form = $("form[id*=artist]");
	<% if @artist.errors.any? %>

	var errors = <%= @artist.errors.to_json.html_safe %>;
	form.formErrors(errors, "artist").trigger("save:error");

	<% else %>
	var artist = <%= @artist.to_json.html_safe %>;
	
	form.trigger("save:success", [{
		valueMember: artist.artist.id,
		displayMember: artist.artist.name
	}]);
	
	$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
		$(this).remove();
	});
	<% end %>
})();