- title(_("#{_('Artista')} - #{@artist.name}"))

.box
	.titlebar
		= @artist.name
	.content
		%ul.button-bar
			%li= link_to _("Trabalhos Relacionados"), [:admin, @artist, :related_works]
			%li= link_to _("Estátuas"), "#"
			
		= render :partial => "shared/artist_form"