- title(_("Artistas"))
.box
	.titlebar
		Artistas
	.content
		= form_tag([:delete, :admin, controller_name], :method => "delete") do
			= render :partial => "shared/admin_table_actions", :locals => { :table => @artists, :path => [:new, :admin, :artist]}
			%table#categories
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td.name Nome
						%td= _("Ano Nascimento")
						%td= _("Ano Morte")
						%td= _("Biografia")
						%td.action
				%tbody
					= render @artists
			= render :partial => "shared/admin_table_actions", :locals => { :table => @artists, :path => [:new, :admin, :artist]}