%tr{:class => defined?(location_asset_counter) ? zebra(location_asset_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "location_asset[]", :value => location_asset.id}
	%td
		= link_to location_asset.title, [:edit, :admin, @route, @location, location_asset]
	%td
		= location_asset.description
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, @route, @location, location_asset]
		|
		%span.action 
			= link_to	"Apagar", [:admin, @route, @location, location_asset], :method => "delete"