- title("#{_('Media')} - #{@location.name}")

.box
	.titlebar
		= _("Media Relacionado Com")
		= @location.name
	.content
		= form_tag([:delete, :admin, @route, @location, :assets], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @route, @location, :asset], :table => @assets}
			%table#assets
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td.name= _("Título")
						%td.description= _("Descrição")
						%td.action
				%tbody
					= render @assets
			%ul.table-bar.clearfix
				%li

			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @route, @location, :location_asset], :table => @assets}