- title("#{_('Media')} - #{@location.name}")

.box
	.titlebar 
		= _("Upload Múltiplo")
	.content.flash-uploader.hidden
		= render "shared/upload"

.box.html-uploader
	.titlebar 
		= _("Upload Simples")
	.content
		= render "shared/location_assets_form"