html {
	background-image: url(/images/bg.gif);
}

body {
	font: 12px/1.231 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	/*background-color: #dde2eb;*/
}

#yui-main, #doc3 {
	min-width: 750px;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
	display: block;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2c6b9c;
/*	font-size: 93%;*/
}

a:hover {
	color: #7E0000;
}

.header {
	padding: 5px;
	margin-bottom: 10px;
	margin-top: -10px;
	background-color: #fff;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	float: right;
}

.footer {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 15px;
}

nav .box {
	margin-bottom: 15px;
}

.box .content {
	padding: 10px;
	background-color: #fff;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.box .titlebar.statues {
	background: url(/images/titlebar_orange.png);
}

.box .titlebar.routes {
	background: url(/images/titlebar_red.png);
}

.box .titlebar {
	background: url(/images/titlebar.png);
	padding: 6px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 0 -1px 0 #0a253a;
	font-size: 108%;
	line-height: 1;
	font-weight: normal;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.box {
/*	-moz-box-shadow: #888 1px 1px 5px;
	-webkit-box-shadow: #888 1px 1px 5px;
	box-shadow: #888 1px 1px 5px;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 15px;
}

.last {
  margin-bottom: 0;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li a {
	padding: 5px 0 5px 10px;
	display: block;
}

ul.menu a:hover {
	background-color: #f0f1f3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

ul.menu a.active {
	color: #7E0000;
}


/* tables */
table {
	width: 100%;
	text-align: left;
	border: 1px solid #ccc;
	margin-top: 1em;
}

thead td, tfoot td {
	border-right: 1px solid #ccc;
	text-shadow: 0 1px 0 #fff;
	padding: 5px 10px 5px 10px;
	letter-spacing: 1px;
	color: #666;
	font-weight: normal;
	color: #000;
}

td, th {
	border: none;
}

tfoot td {
	text-align: right;
}

thead td, tfoot td {
	background: url(/images/table_bg.png) repeat-x;
}

thead td.action {
	width: 8em;
}

thead td.check {
/*	padding: 5px;*/
	width: 1.2em;
}

tbody td {
	padding: 5px;
}

tr.odd {
	background-color: #f0f1f3;
}

tbody td.action {
	/*border-left: 1px solid #ccc;*/
	text-align: center;
	color: #ccc;
	font-size: 93%;
	font-weight: normal;
}

tbody td.action a {
	font-weight: normal;
		font-size: 93%;
}

tbody td.check {
	border-right: 1px solid #ccc;
	padding-left: 10px;
}

tr:hover, tr.selected {
	background-color: #ffffcc;
}

/* table bulk actions */
ul.table-bar {
/*	border: 1px solid #ccc;*/
	list-style-type: none;
	margin: 0;
/*	padding: 5px;*/
}

ul.table-bar li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.right {
	float: right;
}

.bright {
	color: #999;
}
/* buttons */
a.button, button.button {
	/*float: left;*/
	margin: 0 .7em 0 0;
	text-decoration: none;
	background: #EAEAEA url(/images/button_bg.png) repeat-x left top;
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
	padding: 3px 10px 4px 10px;
	display: block;
	cursor: pointer;
	font-size: 100%;
	line-height: 130%;
	color: #000;
	font-weight: normal;
	-webkit-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a.button {
	padding-top: 4px;
	color: #000 !important;
	font-weight: normal !important;
}

a.button, button.button {
	float: none;
	display: inline;
	display: inline-block;
}

button {
	width: auto !important;
	overflow: visible !important;
}

button.button {
	padding: 2px 10px 2px 7px;
}

button.button[type] {
	width: auto;
	padding: 3px 10px 3px 7px;
	line-height: 17px;
}

*+html button.button[type] {
	padding: 2px 10px 2px 7px;
	margin-bottom: 1px;
}

* html button.button {
	margin-bottom: 1px;
}

a.button img, button.button img, a.secondary-button img {
	margin: 0 5px -3px 0 !important;
}

a.button:hover, button.button:hover {
	border: 1px solid #999;
	color: #000;
}

button:active, a.button:active {
	border-color: #ccc;
	background-position: left bottom;
}

button[disabled].button {
	cursor: auto;
	opacity: 0.5;
}

button[disabled].button:hover {
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
}

button[disabled].button:active {
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
	background-position: left top;
}


/* pagination */
.pagination {
	padding: 7px 0 0 0;
	font-size: 93%;
	font-weight: bold;
}

.pagination .previous_page, .pagination .next_page {
	border: 1px solid #ccc;
	padding: none;
}

.pagination .disabled {
	padding: 3px 6px;
	color: #ccc;
}

.pagination em, .pagination a {
	border: 1px solid #ccc;
	padding: 3px 6px;
	font-style: normal;
}

.pagination em {
	background-color: #2c6b9c;
	color: #fff;
}

/* fixes */
.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}

/* forms */
.required, .example {
	font-size: 77%;
	font-weight: normal;
}

.required {
	color: #D12F19;
}

.example {
	color:  #555;
}

fieldset {
	padding: 10px 10px 0 10px;
  	background-color: #f0f1f3;
	margin-bottom: 0;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;		
	border-radius: 0 0 8px 8px;
}

label {
	font-weight: bold;
	line-height: 1.8;
 	display: block;
	text-align: left;
}

form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form li {
	margin: 10px 0 0 0;
	list-style-type: none;
	text-align: left;
}

form li.first {
	margin: 0;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 100%;
	width: 98%;
}


form .actions, form ul li.last {
	padding: 10px 20px 10px 10px;
	margin: 10px -10px 0 -10px;
}

form .actions {
	border-top: 1px solid #ccc;
}

form .actions .bright {
	margin-right: 5px;
}

form li .actions button, form li .actions .button {
	float: right;
	margin: 0 0 0 1em;
}
/* errors */
.field-error {
	color: #D12F19;
	padding-left: 20px;
	margin-top: 5px;
	display: block;
	background: url(/images/exclamation.png) no-repeat left center;
}

.inline {
	display: inline !important;
}

input.field-with-errors, .field-with-errors textarea, .field-with-errors {
	border: 1px solid #D12F19;
}

.info, .success, .warning, .error, .validation, .working {
/*	border-left: 1px solid;
	border-right: 1px solid;*/
	border-bottom: 1px solid;
/*	margin: 0 0 10px 0;*/
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	position: fixed;
	top: 0;
	z-index: 5;
/*	padding: 10px;*/
/*	background-color: #DDD;*/
	left: 0;
/*	text-align: center;*/
	width: 100%;
	text-align: left;
}

.working {
	background-color: rgba(254, 239, 179, .90);
	color: #000;
	background-image: url('/images/spinner.gif');
	padding-left: 50px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/information.png');
}

.success {
	color: #4F8A10;
/*	background-color: #DFF2BF;*/
	background-color: rgba(223, 242, 191, .90);
	background-image:url('/images/tick.png');
}

.warning {
	color: #9F6000;
/*	background-color: #FEEFB3;*/
	background-color: rgba(254, 239, 179, .90);
	background-image: url('/images/error.png');
}

.error {
	color: #D8000C;
/*	background-color: #FFBABA;*/
	background-color: rgba(255, 186, 186, .90);
	background-image: url('/images/stop.png');
}

.validation {
	color: #D63301;
/*	background-color: #FFCCBA;*/
	background-color: rgba(255, 204, 186, .90);
	background-image: url('/images/exclamation.png');
}

#hidden-form {
 	margin-bottom: 10px;
	display: none;
}

.new {
	background-color: #DFF2BF;
}

.left {
	float: left;
}

select {
	width: 180px;
}

img.icon {
	vertical-align: bottom;
	padding-bottom: 3px;	
}

.right-spacer {
	margin-right: 10px;
}

.left-spacer {
	margin-left: 10px;
}

.top-spacer {
	margin-top: 10px;
}

.select-actions {
	margin-left: 5px;
}


#map-wrapper {
	position: relative;
}

#map-canvas {
	margin-top: 15px;
	width: 99.40%;
	height: 400px;
	border: 1px solid #000;
	z-index: 1;
}

/*#map-overlay {*/
	/*background-color: rgba(0, 0, 0, .8);*/
	/*position: absolute;*/
	/*overflow: hidden;*/
	/*right: 9px;*/
	/*top: 25px;*/
	/*width: 259px;*/
	/*z-index: 2;*/
	/*color: #fff;*/
	/*padding: 5px;*/
/*}*/

/*#map-overlay li {*/
	/*cursor: pointer;*/
	/*padding: 5px;*/
/*}*/

/*#map-overlay li:hover {*/
	/*-moz-border-radius: 6px;*/
	/*-webkit-border-radius: 6px;*/
	/*border-radius: 6px;*/
  /*background-color: #555;*/
/*}*/

/*#map-overlay img {*/
	/*float: right;*/
/*}*/

/*#map-overlay div {*/
	/*float: left;*/
	/*width: 230px;*/
/*}*/



#map-overlay {
	/*position: absolute;*/
	overflow: auto;
	/*right: 5px;*/
	/*top: 25px;*/
  width: 272px; 
	/*z-index: 2;*/
	color: #fff;
  /*padding: 5px;*/
  /*margin: 0;*/
  max-height: 355px;
}

ul#map-overlay, ul#map-overlay li {
  list-style-type: none;
}

#map-overlay li {
	cursor: pointer;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, .8);*/
  background: url(/images/header-menu-pixel.png);
  margin: 0 0 1px 0;
}

#map-overlay li:hover, #map-overlay li {
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
}

#map-overlay li:hover {
  background-color: #555;
}


#map-overlay img {
	float: right;
}

#map-overlay div {
	float: left;
	width: 230px;
}

.block-content {
	margin-left: 5px;
}

.field-button {
	margin: 23px 0 0 5px;
}

.hidden {
	display: none;
}


#media-holder {
	margin-top: 10px;
}
#media-holder .media-item {
	border: 1px solid #999;
	margin-bottom: 5px;
}

#media-holder .filename {
	padding: 5px;
}

#media-holder .progress {
	background: url(/images/progressbar.png);
	width: 5px;
	margin: 0 0 5px 5px;
	padding: 2px 0 2px 0;
}


.media-item-actions {
	padding: 5px;
	z-index: 100;
}

.media-item-actions img {
	vertical-align: bottom;
	padding-left: 5px;
}

.close-button {
	position: absolute;
	right: 70px;
	cursor: pointer;
}

.clear {
	clear: both;
}

#flash-buttons .swfupload {
	vertical-align: bottom;
	cursor: pointer;
}

#flash-buttons button {
	margin-bottom: 2px;
}

.queued {
	opacity: .50;
}

.uploading {
	opacity: 1;
}

.flash-uploader {
	margin-top: 10px;
}
#flash-uploader, #html-uploader {
	border: 1px solid #999;
}

.separator {
	border-bottom: 1px solid #ccc;
	padding: 10px 0 10px 0;
}

.separator.last {
	border-bottom: none;
	padding-bottom: 0;
}

.separator.first {
	padding-top: 0;
}

.flat-header {
	padding: 5px;
	border: 1px solid #999;
}

ul.button-bar {
	border: 1px solid #999;
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 5px;
}

ul.button-bar li {
	list-style-type: none;
	display: inline;
	padding-right: 10px;
}

.media-info {
}

.media-info img {
	padding: 5px;
	border: 1px solid #999;
	background-color: #fff;
}

.media-info ul {
	margin-left: 10px;
	margin-top: 0;
	padding: 0;
}

.media-info ul li {
	margin: 0 0 10px 0;
}

.yui3-overlay-mask { 
	background: rgba(255, 255, 255, 0.5); 
}

#dialog {
	display: none;
}

#dialog .add-new {
	display: none;
}

.yui3-widget #dialog {
	display: block;
}

.spinner {
	background: url('/images/spinner.gif') no-repeat left center;
	padding: 10px 10px 10px 34px;
}

#top-menu, #top-menu li {
	list-style-type: none;
	margin: 0;
}

#top-menu li {
	display: inline;
	float: left;
/*	border-right: 1px solid #ccc;*/
	background: url(/images/sep.gif) no-repeat scroll left center;
}
#top-menu a, #top-menu span.status {
	display: block;
	padding: 5px;
}

#top-menu span.status {
	padding-right: 20px;
	background: url(/images/stop.png) no-repeat right;
	margin-right: 5px;
	font-weight: bold;
}

#top-menu li.first {
	background: none;
}

.custom-dialog.ui-widget-content a:hover {
	color: #7E0000;
}

.custom-dialog.ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.231;
}

.custom-dialog.ui-dialog .ui-dialog-content {
	padding: 10px;
}

.custom-dialog.ui-dialog .ui-dialog-titlebar {
	padding: 6px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 0 -1px 0 #0a253a;
	font-size: 108%;
	line-height: 1;
	font-weight: normal;
}

.custom-dialog.ui-widget-content {
	border: none;
}

.custom-dialog.ui-widget-content a {
	font-weight: bold;
	text-decoration: none;
	color: #2c6b9c;
}

.custom-dialog.ui-dialog .ui-widget-header {
	background: url(/images/titlebar.png);
	border: none;
}

.custom-dialog.ui-dialog .ui-corner-all {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.custom-dialog.ui-dialog {
	padding: 0;
	-moz-border-radius: 8px 8px 6px 6px;
	-webkit-border-radius: 8px 8px 6px 6px;
	border-radius: 8px 8px 6px 6px;
}


#tabs.ui-widget-content {
	border: none;
	background: none;
}

#tabs .ui-widget-content {
	border: none;
	background: #fff;
}

#tabs .ui-widget-header {
	border: none;
	background: none;
}

#tabs.ui-tabs .ui-tabs-nav {
	padding: 0;
}

#tabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active {
	border: none;
	background: #fff;
}

#tabs.ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.231;
}

#tabs.ui-widget-content a:hover {
	color: #7E0000;
}

#tabs.ui-widget-content a {
	font-weight: bold;
	text-decoration: none;
	color: #2c6b9c;
}

#tabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a {
	color: #000;
	text-shadow: none;
}

#tabs .ui-state-default, #tabs .ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default {
	background: url(/images/titlebar.png);
	border: none;
	color: #fff;
}

#tabs .ui-state-default a, #tabs .ui-widget-content .ui-state-default a, #tabs .ui-widget-header .ui-state-default a {
	color: #fff;
	text-shadow: 0 -1px 0 #0a253a;
}


#tabs .ui-tabs-panel {
	padding: 10px;
}

.combo-item {
	margin-top: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 98%;
	background-color: #fff;
}

.combo-item img {
/*	vertical-align: bottom;*/
	float: right;
}

li.uncertain-date label.checkbox {
	display: inline;
	text-align: left;
}

li.uncertain-date label.generated {
	display: none;
}

li.uncertain-date span label.checkbox {
	font-weight: normal;
	color: #555;
}

.top-separator {
	margin-top: 10px;
}

#media-preview img {
	padding: 5px;
	border: 1px solid #999;
	vertical-align: bottom;
	margin: 5px;
  width: 150px;
}

/* begin: media gallery */
ul#media-gallery, ul#media-gallery li {
	list-style-type: none;
	margin: 0;
/*	padding: 0;*/
}

ul#media-gallery li {
	float: left;
	padding: 5px 0 0 5px;
	position: relative;
}

ul#media-gallery li div {
	position: absolute;
	background: rgba(0,0,0,.8);
	color: #fff;
	bottom: 5px;
	right: 6px;
	left: 11px;
	padding: 5px;
	text-align: right;
}

ul#media-gallery li div img {
	display: inline;
	padding: 0;
	border: none;
	margin-left: 5px;
  width: 16px;
}

ul#media-gallery li div img:hover {
	background-color: transparent;
}
ul#media-gallery img {
	padding: 5px;
	border: 1px solid #999;
	vertical-align: bottom;
	display: block;
  width: 150px;
}

ul#media-gallery img:hover {
	background-color: #ccc;
}

ul#media-gallery {
	margin: -5px 0 0 -5px;
}
/* end: media gallery */
#loading {
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 50%;
	right: 50%;
	background-color: #fff;
	width: 100px;
}

.button-spacer {
	position: absolute;
	top: 20px;
}

.relative {
	position: relative;
}

.authors a.authors, 
.books a.books, 
.citations a.citations, 
.literary_routes a.literary_routes, 
.themes a.themes,
.artists a.artists,
.entities a.entities,
.categories a.categories,
.statues a.statues
{
	color: #7E0000;
}
