body {
	font: 13px/1.231 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	background-image: url(/images/bg.gif);
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2c6b9c;
}

a:hover {
	color: #7E0000;
}

#wrapper {
	width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 200px;
	background-color: #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

label {
	font-weight: bold;
	line-height: 1.8;
 	display: block;
	text-align: left;
	letter-spacing: 1px;
	color: #555;
}

form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form li {
	margin: 10px 0 0 0;
	list-style-type: none;
}

form li.first {
	margin: 0;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 100%;
	width: 97%;
}


/*form .actions, form ul li.last {
	padding: 10px 20px 10px 10px;
}
*/
form .actions {
	margin-top: 15px;
/*	border: 1px solid #999;*/
}

form .actions .bright {
	margin-right: 5px;
}

form li .actions button, form li .actions .button {
	float: right;
	margin: 0 0 0 1em;
}

a.button, button.button {
	text-decoration: none;
	background: #EAEAEA url(/images/button_bg.png) repeat-x left top;
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
	padding: 3px 10px 4px 10px;
	display: block;
	cursor: pointer;
	font-size: 100%;
	line-height: 130%;
	color: #000;
	font-weight: normal;
	-webkit-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a.button {
	padding-top: 4px;
}

a.button, button.button {
	float: none;
	display: inline;
	display: inline-block;
}

button {
	width: auto !important;
	overflow: visible !important;
}

button.button {
	padding: 2px 10px 2px 7px;
}

button.button[type] {
	width: auto;
	padding: 3px 10px 3px 7px;
	line-height: 17px;
}

*+html button.button[type] {
	padding: 2px 10px 2px 7px;
	margin-bottom: 1px;
}

* html button.button {
	margin-bottom: 1px;
}

a.button img, button.button img, a.secondary-button img {
	margin: 0 5px -3px 0 !important;
}

a.button:hover, button.button:hover {
	border: 1px solid #999;
	color: #000;
}

button:active, a.button:active {
	border-color: #ccc;
	background-position: left bottom;
}

button[disabled].button {
	cursor: auto;
	opacity: 0.5;
}

button[disabled].button:hover {
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
}

button[disabled].button:active {
	border: 1px solid #dedede;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bfbfbf;
	background-position: left top;
}

.right {
	float: right;
}

.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}

.info, .success, .warning, .error, .validation, .working {
/*	border-left: 1px solid;
	border-right: 1px solid;*/
	border-bottom: 1px solid;
/*	margin: 0 0 10px 0;*/
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	position: fixed;
	top: 0;
	z-index: 5;
/*	padding: 10px;*/
/*	background-color: #DDD;*/
	left: 0;
/*	text-align: center;*/
	width: 100%;
	text-align: left;
}

.working {
	background-color: rgba(254, 239, 179, .90);
	color: #000;
	background-image: url('/images/spinner.gif');
	padding-left: 50px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/information.png');
}

.success {
	color: #4F8A10;
/*	background-color: #DFF2BF;*/
	background-color: rgba(223, 242, 191, .90);
	background-image:url('/images/tick.png');
}

.warning {
	color: #9F6000;
/*	background-color: #FEEFB3;*/
	background-color: rgba(254, 239, 179, .90);
	background-image: url('/images/error.png');
}

.error {
	color: #D8000C;
/*	background-color: #FFBABA;*/
	background-color: rgba(255, 186, 186, .90);
	background-image: url('/images/stop.png');
}

.validation {
	color: #D63301;
/*	background-color: #FFCCBA;*/
	background-color: rgba(255, 204, 186, .90);
	background-image: url('/images/exclamation.png');
}

.close-button {
	position: absolute;
	right: 70px;
	cursor: pointer;
}