body {
/*	background: url(/images/bottom-gradient.png) no-repeat left bottom;
	width: 100%;
	height: 100%;*/
  color: #eee;
}

a:link {
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

a:hover {
  color: #fff;
}

a, a:active, a:visited, a:focus {
  color: #ffb600;
}

/* begin: textures */
.wood-texture {
	background: url(/images/wood-texture.jpg) repeat-x top left;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
}

.bottom-gradient {
	background: url(/images/bottom-gradient.png) repeat-x bottom left;
	height: 100%;
	width: 100%;
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 0;
}
/* begin: textures */

#wrapper {
	width: 960px;
	margin: 20px auto;
	z-index: 5;
	position: relative;
  /*border: 1px solid yellow;*/
}

/* begin: header */
#header {
	color: #eee;
	margin-bottom: 20px;
}

#title h1 {
	margin-top: 20px;
	font-style: italic;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	color: #eee;
	position: absolute;
	top: 20px;
	left: 60px;
	padding: 0;
	margin: 0;
	z-index: 2;
}

#title .background {
	background: url(/images/header-menu-pixel.png);
	top: 20px;
	height: 32px;
	position: absolute;
	z-index: 2;
	left: 450px;
	right: 0;
}

#header ul.nav {
	float: right;
	padding: 0;
	margin: 0;
	width: 80%;
}

#header ul.nav li {
	list-style-type: none;
	float: right;
}

#header ul.nav li a {
	list-style-type: none;
	float: left;
	color: #eee;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
  border: none;
}

/* end: header */

/* begin: menu */
#nav {
	margin-left: 210px;
	position: relative;
}

#nav ul, #nav ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

#nav ul li a {
	display: block;
	text-decoration: none;
/*	font-variant: small-caps;*/
/*	font-size: 1.1em;*/
	color: #eee;
	text-transform:  uppercase;
  border: none;
}

#nav ul.secondary li a {
  text-transform: none;
}

.authors #nav ul.secondary li.authors,
.routes #nav ul.secondary li.routes,
.themes #nav ul.secondary li.themes,
.literary_routes #nav ul.secondary li.routes {
	background: url(/images/secondary-menu-active-dark.png) no-repeat bottom center;
}

.artists #nav ul.secondary li.artists,
.entities #nav ul.secondary li.entities, 
.categories #nav ul.secondary li.categories,
.statues #nav ul.secondary li.statues {
	background: url(/images/secondary-menu-active-light.png) no-repeat bottom center;
}

#nav ul.primary {
	margin-left: -210px;
	z-index: 5;
	position: relative;
}

#nav ul.primary li {
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background-color: #990000;
}

#nav ul.primary li a {
		padding: 6px 20px 6px 20px;
    border: none;
}

#nav ul.primary li.statues-tab {
	background-color: #cc0000;
}

#nav ul.primary li.routes-tab {
	background-color: #990000;
}

#nav ul.secondary {
	background: url(/images/menu-pixel.png);
	z-index: 4;
	position: absolute;
	right: 0;
	width: 765px;
}

#nav ul.secondary li.first {
	margin-left: 40px;
}
#nav ul.secondary li a {
	font-size: 0.9em;
	padding: 7px 20px 7px 20px;
  border: none;
}

/* end: menu */

/* begin: main */
#main {
	color: #eee;
	padding: 20px 0 20px 20px;
}
#statues #main {
	background-color: #cc0000;
}

#routes #main {
	background-color: #990000;
}

#left-box {
	width: 270px;
	padding-top: 20px;
}

#right-box {
	padding: 20px 0 20px 20px;
	/*height: 400px;*/
	/*margin-left: 290px;*/
  width: 630px;
  margin-left: 20px;
}

#statues #right-box {
	background-color: #990000;
}

#routes #right-box {
	background-color: #cc0000;
}

#map-canvas {
/*	background: url("/images/temp_map.png") no-repeat;*/
	width: 100%;
	height: 400px;
}
/* end: main */

/* begin: related-info */
#related-info {
	background-color: #990000;
	margin-top: 10px;
	/*padding: 20px;*/
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

#related-info .reality, #related-info .fiction, #related-info .media {
/*	border: 1px solid #999;*/
	width: 293px;
	float: left;
	padding-right: 10px;
}

#related-info .fiction, .media {
/*	padding-left: 20px;*/
}

#related-info .media {
/*	padding-right: 0;*/
}

#right-box #tabs .ui-widget-content {
  color: #eee;
  background: #990000;
  border: none;
}

#right-box #tabs.ui-widget-content {
  background: #990000;
  border: none;
}

#right-box div#tabs.ui-corner-all  {
  -moz-border-radius: 0;
  -webkit-berder-radius: 0;
  border-radius: 0;
}

#right-box div#tabs ul.ui-corner-all,
#right-box div#tabs ul.widget-ui-header {
  background: #cc0000;
  border: none;
}


#right-box div#tabs li.ui-state-default {
  background: none;
  border: none;
}

#right-box div#tabs li.ui-state-active {
  background: #990000;
  border: none;
}
#right-box div#tabs.ui-tabs .ui-tabs-nav, #right-box div#tabs.ui-tabs {
  padding: 0;
}

#right-box #tabs .ui-state-active a, #right-box #tabs .ui-state-active a:link, #right-box #tabs .ui-state-active a:visited {
  color: #eee;
}
#right-box #tabs .ui-state-default a, #right-box #tabs .ui-state-default a:link, #right-box #tabs .ui-state-default a:visited {
  color: #eee;
}
/* end: related-info */

/* begin: footer */
#footer {
	color: #ccc;
	/*text-align: right;*/
	padding: 20px 0 0 0;
  position: relative;
}

#footer img {
  margin-right: 20px;
}
/* end: footer */

.border {
	border: 1px solid #999;
}

.column {
	float: left;
}

/* fixes */
.clearfix:after {
	content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.last {
	padding: 0;
}

ul.statue-info {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #990000;
  margin: 0 0 10px 0;
}

ul.statue-info, ul.statue-info li {
  list-style-type: none;
}

.bigger {
  font-size: 1.1em;
}

/* begin: search combos */
dt {
  margin-bottom: 5px;
  padding-left: 5px;
}

dd {
  margin: 6px 0 10px 0;
  position: relative;
}

input {
  border: 1px solid #990000;
  padding: 5px;
  width: 78%;
}
/* end: search combox */

/* begin: widget customization */
.ui-widget  {
  font-size: 0.9em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.ui-widget a {
  border: none;
}

.combo .ui-autocomplete {
  border: 1px solid #990000;
}

.combo .ui-autocomplete-input {
  background: #fff url(/images/magnifier.png) no-repeat 5px 4px;
  padding-left: 25px;
}

.combo .ui-state-default, .combo .ui-widget-content, ul.ui-widget-content {
  border: 1px solid #990000;
}

ul.ui-corner-all {
  background: url(/images/combo-bg.png);
}

ul.ui-menu .ui-menu-item a.ui-state-hover {
  background: #990000;
  color: #fff;
  border: 1px solid #990000;
}

.combo .ui-state-default {
  background: #eee;
}

.combo .ui-corner-left, 
.combo .ui-corner-right, ul.ui-corner-all,
ul.ui-menu .ui-menu-item a.ui-state-hover  {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* end: widget customization */

input.location {
  background: #fff url(/images/magnifier.png) no-repeat 5px 4px;
  padding-left: 25px;
  width: 88%;
}

#map-wrapper {
  position: relative;
}

#map-overlay {
	/*position: absolute;*/
	overflow: hidden;
	/*right: 5px;*/
	/*top: 25px;*/
  width: 259px; 
	/*z-index: 2;*/
	color: #fff;
  /*padding: 5px;*/
  /*margin: 0;*/
  max-height: 355px;
}

ul#map-overlay, ul#map-overlay li {
  list-style-type: none;
}

#map-overlay li {
	cursor: pointer;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, .8);*/
  background: url(/images/header-menu-pixel.png);
  margin-bottom: 1px;
}

#map-overlay li:hover, #map-overlay li {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#map-overlay li:hover {
  background-color: #555;
}


#map-overlay img {
	float: right;
}

#map-overlay div {
	float: left;
	width: 230px;
}


#statues .info-window {
  background-color: #990000;
}

#routes .info-window {
  background-color: #cc0000;
}

.info-window {
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.info-window ul, .info-window ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-window li.image {
  /*width: 60px;*/
  /*height: 60px;*/
  height: 52px;
  float: left; 
  margin-right: 5px;
}

.info-window li img {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #000;
  width: 60px;
}

.info-window div.actions {
  padding: 5px 5px 0 5px;
  margin: 5px -5px 0 -5px;
}

#statues .info-window div.actions {
  border-top: 1px solid #cc0000;
}

#routes .info-window div.actions {
  border-top: 1px solid #990000;
}

.title {
  margin-bottom: 5px;
  display: block;
  font-size: 1.2em;
  /*letter-spacing: 1px;*/
}

.label {
  color: #ccc;
}

p.right {
  text-align: right;
  margin-bottom: 0px;
}

a {
  outline: none;
}

.imagemarker-overlay {
  background: url(/images/marker_template.png) no-repeat;
  width: 73px;
  height: 83px;
  position: absolute;
  padding: 5px;
}

.imagemarker-overlay img {
  background: #000;
  border: 1px solid #000;
  /*margin-left: 4px;*/
  /*margin-top: 4px;*/
  width: 60px;
}

#left-box .entity-info h2.name {
  margin-bottom: 0;
}

#left-box .entity-info h3, 
#left-box .entity-info h4,
#left-box .entity-info h5 {
  background-color: #990000;
  padding: 5px;
  text-transform: uppercase;
}

#routes #left-box .entity-info h3, 
#routes #left-box .entity-info h4,
#routes #left-box .entity-info h5 {
  background-color: #cc0000;
}

.underline {
  border-bottom: 1px solid #cc0000;
  padding-bottom: 5px;
}

#routes .underline {
  border-bottom: 1px solid #dd0000;
}

#routes #right-box .underline {
  border-bottom: 1px solid #990000;
}

#statues .underline {
  border-bottom: 1px solid #990000;
}

#statues #right-box .underline {
  border-bottom: 1px solid #cc0000;
}

ul.statue-preview {
  padding: 5px;
  border: 1px solid black;
  float: left;
}

ul.statue-preview, ul.statue-preview li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


ul.gallery a {
  border: none;
  display: block;
}

ul.gallery {
  margin: 0 0 0 -11px;
}

ul.gallery, ul.gallery li {
  padding: 0;
  list-style-type: none;
}

ul.gallery li {
  float: left;
  margin-left: 11px;
  margin-bottom: 10px;
  position: relative;
}

ul.gallery img {
  /*padding: 5px;*/
  background: #eee;
  vertical-align: bottom;
  border: 1px solid #ccc;
  width: 194px;
}

ul.gallery img:hover {
  border-color: #ffb600;
}

ul.gallery span {
  color: #990000;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/gallery-pixel.png);
  padding: 5px;
  word-wrap: break-word;
  text-align: right;
  display: block;
}


dl#related-work, dl#related-work dt, dl#related-work dd,
dl#categories-list, dl#categories-list dt, dl#categories-list dd,
dl#routes-list, dl#routes-list dt, dl#routes-list dd
{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

dl#related-work dt,
dl#categories-list dt,
dl#routes-list dt {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #cc0000;
}

#routes dl#routes-list dt {
  background-color: #990000;
}

dl#related-work dd,
dl#categories-list dd,
dl#routes-list dd {
  padding: 5px;
  margin-bottom: 10px;
}

dl#categories-list dt {
  padding: 5px;
  border: 1px solid #990000;
}

dt .action {
  float: right;
  text-align: center;
  /*width: 19%;*/
}

dl#categories-list dt.active {
  background-color: #990000;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.spacer-top {
  margin-top: 5px;
}

#related-info .column {
  width: 280px;
  padding: 10px;
  /*border-right: 1px solid #cc0000;*/
}

#statues #related-info .column {
  width: 920px;
}

#related-info ul.gallery img {
  width: 80px;
}

#related-info ul.gallery span {
  height: 16px;
  width: 16px;
  background: url(/images/control_play.png) no-repeat;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

.bright {
  border-bottom: 1px solid #cc0000;
  padding-left: 5px;
}

dl.statue-info {
  font-weight: normal;
}

dl.statue-info dt {
  padding: 0;
  font-weight: normal;
}

dl.statue-info dd {
  padding-left: 5px;
  font-weight: normal;
}

.small {
  font-weight: normal;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.abc, .abc li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.abc {
  text-align: center;
  background: #990000;
  margin: 0 20px 0 0;
}

.abc li {
  float: left;
  padding: 5px;
}

#routes .abc {
  background: #dd0000;
  margin-bottom: 15px;
}

.entities .gallery img {
  width: 173px;
}

.entities .gallery li {
  margin-left: 10px;
}

.entities .gallery {
  margin-top: 20px;
  margin-left: -8px;
}

.artist-block, .author-block {
  width: 292px;
  margin: 10px 20px 0 0;
  float: left;
}

#routes .author-block h4 {
  background-color: #cc0000;
}

#statues .artist-block h4 {
  background-color: #990000;
}

.artist-block h4, .author-block h4 {
  padding: 5px;
  margin-bottom: 5px;
}
.artist-block a, .author-block a {
  border-bottom: none;
}

.artist-block .gallery img {
  width: 72px;
}

.author-block, {
  background-color: #dd0000;
}


.clear {
  clear: both;
}

.accordion .ui-state-default {
  background: #eee;
  border: none;
}

.accordion .ui-state-active, .accordion .ui-widget-content {
  border: none;
}

.accordion .ui-corner-all, .accordion .ui-corner-bottom, .accordion .ui-corner-top {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-list a {
  display: block;
  padding: 5px;
  /*color: #990000;*/
  /*font-weight: bold;*/
  border: none;
}

.link-list a:hover {
  color: #990000;
  background-color: #ccc;
}

.link-list li {
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.book-icon {
  padding: 9px;
  background: url(/images/book.png) no-repeat left;
}

.map-icon {
  padding: 9px;
  background: url(/images/map.png) no-repeat left;
}

ul.books {
  list-style-type: none;  
  margin: 0;
  padding: 0;
}

.books li {
  padding: 5px;
  /*background-color: #990000;*/
  margin-bottom: 5px;
}

#map-navigation ul, #map-navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#map-navigation-wrapper {
  position: relative;
  background-color: #990000;
}

#map-navigation {
  padding: 5px;
}

#map-navigation, #map-navigation li { 
  width: 600px;
  height: 20px;
  border: 1px solid #000000
  overflow: hidden;
}


#prevBtn, #nextBtn {
  position: absolute;
  z-index: 100;
  top: 0;
  text-indent: -9000px;
}

#prevBtn a, #nextBtn a {
  height: 30px;
  width: 30px;
  display: block;
  border-bottom: none;
}


#nextBtn a {
  background: url(/images/next.png) no-repeat;
}

#nextBtn {
  right: 0px;
  top: 3px;
}

#prevBtn {
  display: none;
}


#main-content {
  margin-left: 490px;
  /*padding-bottom: 9000px;*/
  /*margin-bottom: -9000px;*/
}

#main-content h2, #main-content h3, #main-content h4, #main-content h5 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  letter-spacing: 1px;
  color: #ffb600; 
  text-shadow: 0 1px 0px #444;
  margin-bottom: 20px;
  text-align: left;
  /*text-transform: capitalize;*/
}

#main-content .content-left {
  width: 450px;
  background: url(/images/header-menu-pixel.png);
  float: left;
  margin-left: -490px;
  padding: 10px 10px 0 10px;
  text-align: center;
}

#main-content .content-left p {
  text-align: left;
}
#main-content .content-right {
  background: url(/images/header-menu-pixel.png);
  float: left;
  padding: 10px 10px 0 10px;
  width: 450px;
}

#error #main-content .content-left {
  width: 940px;
}

#main-content .content-full {
  width: 940px;
  background: url(/images/header-menu-pixel.png);
  float: left;
  margin-left: -490px;
  padding: 10px 10px 0 10px;
}

.go {
  padding: 5px;
  margin: 0 -10px 0 -10px;
  text-align: right;
  font-size: 1.2em;
}

.dark {
  background-color: #cc0000;
}

.red-bright {
  background-color: #990000;
}

.icon-go {
  width: 28px;
  height: 30px;
  background: url(/images/go.png) 0 30px;
  float: right;
}

.icon-go:hover {
  background: url(/images/go.png);
}

.go a {
  border-bottom: none;
  display: block;
  text-indent: -9999px;
}

body.create li.contacts, body.new li.contacts, body.home li.home, body.about li.about {
  background-color: #990000;
} 

#routes #nav ul.primary li.statues-tab {
  /*background: url(/images/menu-pixel.png); */
}

#routes ul.form {
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}

#routes ul.form label {
  display: block;
  padding: 5px 0 5px 2px;
}

#routes ul.form li {
  margin-top: 10px;
}

#routes ul.form li.first {
  margin-top: 0;
}

#routes ul.form input {
  width: 380px;
}

#routes ul.form textarea {
  width: 438px;
  padding: 5px;
  font-size: 1em;
}

#routes ul.form input.button {
  width: 100px;  
  background: url(/images/yellow-gradient.png);
  -moz-border-radius: 3px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  color: #000;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc;
}

#routes ul.form input.button:hover {
  cursor: pointer;
}

#routes ul.form textarea, #routes ul.form input {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;  
  border: 1px solid #333;
  background: url(/images/header-menu-pixel.png);
  color: #ccc;
  letter-spacing: 1px;
}

.required {
  font-size: 0.8em;
  color: #cc0000;
}

.field-error {
  background: url(/images/exclamation.png) no-repeat;
  padding: 0 0 0 20px;
  color: #ffb600; 
  display: block;
  margin-top: 5px;
}

#routes ul.form input.field-with-errors, #routes ul.form textarea.field-with-errors {
  border: 1px solid #cc0000;
}

.errors, .success {
  padding: 5px 5px 5px 28px;
  margin-top: -20px;
}

.errors {
  background: #E1CE94 url('/images/error.png') no-repeat 5px center;
  color: #9F6000;
}

.success {
	color: #4F8A10;
	background: #DFF2BF url('/images/tick.png') no-repeat 5px center;
}

#right-box dl, #right-box ul.books {
  margin-right: 20px;
}

a.logo {
  text-indent: -9999px;
  display: block;
  border-bottom: none;
  height: 49px;
  background: url(/images/logos.png) no-repeat;
  float: left;
  margin-right: 20px;
}

a.cel {
  background-position: 0 -49px;
  width: 51px;
}

a.cel:hover {
  background-position: 0 0;
}

a.celcc {
  background-position: -68px -49px;
  width: 72px;
}

a.celcc:hover {
  background-position: -68px 0;
}

a.fct {
  background-position: -161px -49px;
  width: 76px;
}

a.fct:hover {
  background-position: -161px 0;
}

a.fragmentized {
  background-position: -247px -49px;
  width: 102px;
  float: right;
  margin-right: 0;
}

a.fragmentized:hover {
  background-position: -247px 0;
}
.hover-logo {
  position: absolute;
  right: 20px;
  color: #999;
}
a.ismai {
  background-position: -359px -49px;
  width: 41px;
}

a.ismai:hover {
  background-position: -359px 0;
}

#fiction pre {
  white-space: pre-wrap;
}

#new_contact {
  text-align: left;
}

#fiction h1, #reality h1, 
#fiction h2, #reality h2, 
#fiction h3, #reality h3, 
#fiction h4, #reality h4, 
#fiction h5, #reality h5,
#fiction h6, #reality h6 {
  font-weight: bold;
} 

#footer .terms {
  text-align: center;
  width: 820px;
  margin: 0 auto;
  font-size: 85%;
}

#footer .terms a {
  color: #ccc;
}
