- javascript do
  :javascript
    jQuery(function() {
      Fragmentized.StatueMap.initialize({
        mapCanvas: "#map-canvas",
        mapOverlay: "#map-overlay"
      });
    });

#left-box.column
  %h2 Pesquisa Estátuas
  %dl
    %dt
      = _("Artista")
    %dd.combo
      = collection_select(:artist, :id, Artist.all, :id, :name)
    %dt
      = _("Figurado")
    %dd.combo
      %select{ :id => :entity_id, :name => "entity[id]" }
        - for entity in @entities do
          %option{ :value => entity.id, :data => { :type => entity.class.name.downcase } }= entity.name
    %dt
      = _("Categoria")
    %dd.combo
      = collection_select(:category, :id, Category.all, :id, :name)
  #statue-preview
#right-box.column
  #map-canvas
