- javascript do
  :javascript
    Fragmentized.StatueMap.initialize({
      mapCanvas: "#map-canvas",
      url: "/api/statues/#{@statue.id}",
      mapOverlay: "#map-overlay"
    });


#left-box.column
  .entity-info
    %h2.name= @statue.title
    %p
      = _("Por")
      = link_to(@statue.artist.name, [@statue.artist])
      - unless @statue.date.blank?
        = _("em")
        = @statue.date
      = _("representa")
      = link_to(@statue.represented.name, @statue.represented_path)
      (
      = link_to(@statue.category.name, @statue.category)
      )
    - unless @statue.description.blank?
      %h5= _("Descrição")
      = parse_markdown(@statue.description)
    - unless @statue.comment.blank?
      %h5= _("Comentário")
      = parse_markdown(@statue.comment)

#right-box.column
  #map-canvas

- content_for(:bottom) do 
  #related-info.clearfix
    .column
      %h3 Media
      %ul.gallery
        - @statue.assets.each do |asset|
          %li
            - if asset.image?
              = link_to image_tag("#{asset.asset.url(:thumb)}", :alt => asset.title, :title => asset.title), asset.asset.url(:medium), :title => asset.title, :rel => "media"
            - else
              %a{ :href => "/api/assets/#{asset.id}", :alt => asset.title, :title => asset.title, :rel => "media" }
                = image_tag(asset.asset.url(:thumb))
                %span
