<div style="width: <%= @asset.width %>px; height: <%= @asset.height %>px;">
	<%= sanitize(@asset.embed_code, :tags => %w(embed object param), :attributes => %w(width height type data name value classid allowfullscreen wmode src allowscriptaccess)) %>
</div>