- javascript do
  :javascript
    $(".accordion").accordion({
      active: false,
      collapsible: true,
      autoHeight: false
    });

%h2.underline= _("Autores")

%ul.abc.clearfix
  - linked_abc(Author.initials).each do |char|
    %li= char

- @authors.each_slice(3) do |authors|
  - authors.each do |author|
    .author-block.clearfix
      %h4= link_to(author.name, author)
      .accordion
        %h3= link_to(_("Biografia")) 
        %div= parse_markdown(author.biography)
        %h3= link_to(_("Percursos"))
        %div
          - author.literary_routes.each do |route|
            %ul.link-list.routes
              %li= link_to(route.name, route)
        %h3= link_to(_("Obras"))
        %div
          %ul.link-list.books
            - author.books.each do |book|
              %li
                = book.reference
  %p.clear
