- javascript do
  :javascript
    Fragmentized.StatueMap.toggleDataDefinition();
    
#left-box.column
  .entity-info
    %h2.name= @author.name
    %p
      = @author.birthdate
      = "- #{@author.deathdate}" unless @author.deathdate.blank?
    #statue-preview 
    %p 
    = parse_markdown(@author.biography)

#right-box.column
  %h3.underline= _("Percursos Literários")
  - if @author.literary_routes.any?
    %dl#routes-list
      - @author.literary_routes.each do |route|
        %dt
          %span.map-icon
          = route.name
          %span.right= raw "( #{link_to(_("Ver Percurso"), route)} )"
        %dd
          = parse_markdown(route.description)
  - if @author.books.any?
    %h3.underline= _("Obras Literárias")
    %ul.books
      - @author.books.each do |book|
        %li
          %span.book-icon
          = book.title + ','
          - unless book.publisher.blank?
            = "#{book.publisher},"
          - unless book.location.blank?
            = "#{book.location},"
          - unless book.date.blank?
            = "#{book.date}"
