!!!
%html
	%head
		%title= yield :title
		%meta{:charset => "utf-8"}
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application"
		= stylesheet_link_tag "reset", "login"
		= csrf_meta_tag
	%body
		#wrapper
			- if flash.key?(:notice)
				= render "shared/success"
			- if flash.key?(:alert)
				= render "shared/alert"
			- if flash.key?(:error)
				= render "shared/error"
			= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| 
				%fieldset
					= f.hidden_field :reset_password_token
					%ul.form
						%li.first
							= f.label :password
							= f.password_field :password
						%li
							= f.label :password_confirmation
							= f.password_field :password_confirmation
						%li.actions.clearfix
							%span.left
								= render :partial => "devise/shared/links"
							%span.right
								%button.button{:type => "submit"}
									= image_tag("/images/tick.png")
									= _("Alterar")