!!!
%html
	%head
		%title= yield :title
		%meta{:charset => "utf-8"}
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application"
		= stylesheet_link_tag "reset", "login"
		= csrf_meta_tag
	%body
		#wrapper
			- if flash.key?(:notice)
				= render "shared/success"
			- if flash.key?(:alert)
				= render "shared/alert"
			- if flash.key?(:error)
				= render "shared/error"
			= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
				%fieldset
					%ul.form
						%li.first
							= f.label :email, "E-mail"
							= f.text_field :email							
						%li.actions.clearfix
							%span.left
								= render :partial => "devise/shared/links"
							%span.right
								%button.button{:type => "submit"}
									= image_tag("/images/email_link.png")
									= _("Recuperar")