%ul.table-bar.clearfix
	%li
		= link_to image_tag("/images/add.png") + _('Adicionar'), path, :class => "button add-button"
	%li
		%button{:type => "submit", :class => "button"}
			= image_tag("/images/delete.png") + _("Apagar")
	%li.right
		= will_paginate table