.box
  .titlebar.routes= _("Percursos")
  .content
    %ul.menu
      %li 
        = link_to _("Escritores"), [:admin, :authors], :class => "authors" 
      %li
        = link_to _("Livros"), [:admin, :books], :class => "books" 
      %li 
        = link_to _("Citações"), [:admin, :citations], :class => "citations"
      %li 
        = link_to _("Rotas"), [:admin, :literary_routes], :class => "literary_routes" 
      %li 
        = link_to _("Temáticas"), [:admin, :themes], :class => "themes"
        
.box
  .titlebar.statues= _("Estátuas")
  .content
    %ul.menu
      %li
        = link_to _("Artistas"), [:admin, :artists], :class => "artists"
      %li
        = link_to _("Entidades"), [:admin, :entities], :class => "entities"
      %li 
        = link_to _("Categorias"), [:admin, :categories], :class => "categories"
      %li 
        = link_to "Estátuas", [:admin, :statues], :class => "statues"

.box 
  .titlebar.pages= _("Páginas")
  .content
    %ul.menu
      - for page in Page.all
        %li
          = link_to(page.name, [:admin, page])
      -#%li
        -#= link_to _("Home"), [:admin, Page.find(:name => 'home')]
      -#%li
        -#= link_to _("Sobre"), [:admin, Page.find(:name => 'about')]
      -#%li
        -#= link_to _("Contactos"), [:admin, Page.find(:name => 'contacts')]
      -#%li
        -#= link_to _('Termos de Utilização', nil)
      -#%li
        -#= link_to _('Política de Privacidade', nil)
