= form_for(assetable_url(:admin, @assetable, @asset), :html => { :multipart => true }, :remote => @asset.new_record?, :builder => LabellingWithErrorsFormBuilder) do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :title, :class => "asset-title"
			%li
				= form.text_area :description, :rows => 10, :class => "asset-description"
			%li
				= form.text_field :remote_image_url, :value => @asset.image_url
				%input{ :type => "hidden", :value => "image", :name => "asset[media_type]" }
			- unless @asset.new_record?
				%li.clearfix
					= render "shared/media_info"
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", assetable_url(:admin, @assetable, :assets)