= form_for(assetable_url(:admin, @assetable, @asset), :html => { :multipart => true, :id => "external-video" }, :remote => @asset.new_record?, :builder => LabellingWithErrorsFormBuilder) do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :title, :class => "asset-title"
			%li
				= form.text_area :description, :rows => 10, :class => "asset-description"
			%li.relative
				.yui-ge
					.yui-u.first
						= form.text_field :video_url, :class => "external-video-url"
						%input{ :type => "hidden", :value => "video", :name => "asset[media_type]" }
						%input{ :type => "hidden", :name => "asset[remote_image_url]", :value => "1", :id => "video-thumbnail" }
					.yui-u
						%a.button.button-spacer{:id => "video-information", :href => "javascript:void(0)" }
							= image_tag("/images/world_go.png") 
							= _("Informação")
			- unless @asset.new_record?
				%li.clearfix
					= render "shared/media_info"
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", assetable_url(:admin, @assetable, :assets)