= form_for(assetable_url(:admin, @assetable, @asset), :html => { :multipart => true, :id => "html-upload" }, :builder => LabellingWithErrorsFormBuilder) do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :title, :class => "asset-title"
			%li
				= form.text_area :description, :rows => 10, :class => "asset-description"
			%li
				= form.file_field :asset, :id => "upload-field", :example => _("(Ficheiros do tipo: gif, jpg, png, avi, mov)")
				#asset_asset_content_type
				#asset_asset_file_size
				%input{ :type => "hidden", :value => "image", :name => "asset[media_type]" }
				%input{ :type => "hidden", :value => "1", :name => "asset[local_file]" }
			- unless @asset.new_record?
				%li.clearfix
					= render "shared/media_info"
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", assetable_url(:admin, @assetable, :assets)