= render "shared/model_validation", :current_model => @block
  
= form_for [:admin, @page, @block], :builder => LabellingWithErrorsFormBuilder do |form|
  %fieldset
    %ul.form
      %li.first
        = form.text_field :title
      %li 
        = form.text_area :content
      %li.actions.clearfix
        %span.right
          %button.button{:type => "submit"}
            = image_tag("/images/add.png")
            Guardar
          %span.bright Ou
          = link_to "Cancelar", [:admin, @page], :class => "cancel-button"
      
