= render "shared/model_validation", :current_model => @book
	
= form_for [:admin, @book], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :title
			%li
				= form.collection_select(:author_ids, Author.all, :id, :name, { :include_blank => _("Selecione autor") }, { :name => "", "data-name" => "book[author_ids][]",  :id => "authors_books_ids", :class => "multi-select"})
				= link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :author], :class => "add-new", "data-title" => _("Adicionar Autor"), "data-source" => "authors_books_ids"
				= render :partial => "author", :collection => @book.authors.all
			%li
				= form.text_field :date
			%li
				= form.text_field :location
			%li
				= form.text_field :publisher
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", [:admin, :books], :class => "cancel-button"