= render "shared/model_validation", :current_model => @category
	
= form_for [:admin, @category], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :name
			%li	
				= form.text_area :description
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						Guardar
					%span.bright Ou
					= link_to "Cancelar", [:admin, :categories], :class => "cancel-button"
			