= render "shared/model_validation", :current_model => @citation
	
= form_for [:admin, @citation], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_area :citation, :rows => 10
			%li
				= form.collection_select(:book_id, Book.all, :id, :title, :include_blank => _("Selecione Livro"))
				= link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :book], :class => "add-new", "data-title" => _("Adicionar Livro"), "data-source" => "citation_book_id"
				
			%li
				= form.collection_select(:location_id, Location.all, :id, :name, :include_blank => _("Selecione Localização"))
			%li
				= form.text_field :pages
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", [:admin, :citations]