- content_for :right do
  %h2= @blocks.first.title 
  = parse_markdown(@blocks.first.content)
- content_for :left do
  - unless @sent
    %h2= _("Deixe a sua mensagem!")
  - else
    %h2= notice

  - if @contact.errors.any?
    .errors
      = _("Não nos foi possível em viar a sua mensagem, por favor verifique que os campos obrigatórios se encontram preenchidos.") 
  - unless @sent 
    = form_for(@contact, :builder => LabellingWithErrorsFormBuilder ) do |form|
      %fieldset
        %ul.form
          %li.first
            = form.text_field(:name)
          %li
            = form.email_field(:email)
          %li
            = form.text_field(:subject)
          %li
            = form.text_area(:message, :rows => 10, :cols => 70)
          %li
            = form.submit(_("Enviar"), :class => "button")
