= render "shared/model_validation", :current_model => @entity
	
= form_for [:admin, @entity], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :name
			%li.uncertain-date
				= form.label :birthdate, nil, :class => "checkbox"
				%span
					(
					= form.check_box :uncertain_birthdate
					= form.label :uncertain_birthdate, nil, :class => "checkbox"
					)
				= form.text_field :birthdate
			%li.uncertain-date
				= form.label :deathdate, nil, :class => "checkbox"
				%span
					(
					= form.check_box :uncertain_deathdate
					= form.label :uncertain_deathdate, nil, :class => "checkbox"
					)
				= form.text_field :deathdate
			%li
				= form.text_area :description, :rows => 10
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						Guardar
					%span.bright Ou
					= link_to "Cancelar", [:admin, :entities], :class => "cancel-button"
			