#footer
  .terms
    = link_to(_('Termos de Utilização'), '/page/terms')
    |
    = link_to(_('Política de Privacidade'), '/page/privacy')
  .sponsors
    = link_to("CEL", "http://www.cel.pt", { :class => "cel logo", :title => "Centro Europeu de Línguas" })
    = link_to("CELCC", "http://www.ismai.pt", { :class => "celcc logo", :title => "Centro de Estudos de Língua Comunicação e Cultura" })
    = link_to("FCT", "http://www.fct.pt", { :class => "fct logo", :title => "Fundação para a Ciência e a Tecnologia" })
    -#%span.hover-logo= _("Desenvolvimento")
    = link_to("fragmentized.net", "http://www.fragmentized.net", { :class => "fragmentized logo", :title => "Desenvolvimento - fragmentized.net" })
    = link_to("ISMAI", "http://www.ismai.pt", { :class => "ismai logo", :title => "Instituto Superior da Maia" })
