#header.clearfix
  %ul.nav.clearfix
    %li.contacts
      %a{ :href => '/page/contacts'}= _('Contactos')
    %li.about
      %a{ :href => '/page/about'}= _('Sobre')
    %li.home
      %a{ :href => '/page/home'}= _('Home')
