- javascript do
  :javascript
    jQuery(function() {
      var mapOptions = {
        locationFor: "location",
        locationElement: "#location",
        geocodeButton: "#spot-location-search-button",
        addMarkerButton: "#spot-location-add-button",
        mapOverlay: "#map-overlay",
        mapCanvas: "#map-canvas",
        form: "form#route-form",
        newRecord: #{@literary_route.new_record? ? true : false},
        sortable: true,
        locationsGet: "#{@literary_route.new_record? ? "" : admin_literary_route_locations_path(@literary_route)}",
        locationsUpdate: "#{@literary_route.new_record? ? "" : admin_literary_route_locations_path(@literary_route)}",
        newLocations: "#new-location-fields",
        coordinatePrecision: 6,
        handleUpdate: true,
        inputTemplate: {
          latitude: '<input name="literary_route[locations_attributes][INDEX][latitude]" type="hidden" />',
          longitude: '<input name="literary_route[locations_attributes][INDEX][longitude]" type="hidden" />',
          location: '<input name="literary_route[locations_attributes][INDEX][location]" type="hidden" />',
          weight: '<input name="literary_route[locations_attributes][INDEX][weight]" type="hidden" />'
        }
      };
      new Fragmentized.AddRoute(mapOptions);
    });
  
= render "shared/model_validation", :current_model => @literary_route

= form_for [:admin, @literary_route], :builder => LabellingWithErrorsFormBuilder, :remote => true, :html => { :id => "route-form" } do |form|
  %fieldset
    %ul.form
      %li.first
        = form.hidden_field :id unless @literary_route.new_record?
        = form.text_field :name
      %li
        - if flash.include?(:author_id)
          = form.collection_select(:author_id, Author.all, :id, :name, :include_blank => _("Selecione autor"), :selected => flash[:author_id])
        - else
          = form.collection_select(:author_id, Author.all, :id, :name, :include_blank => _("Selecione autor"))
        = link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :author], :class => "add-new", "data-title" => _("Adicionar Autor"), "data-source" => "literary_route_author_id"
      %li
        = form.label :theme_ids
        = render :partial => "theme", :collection => @themes
      %li
        = form.text_area :description, :rows => 10
      %li
        .yui-gc
          .yui-u.first
            #new-location-fields.hidden
            = text_field_tag("location")
          .yui-u
            %a.button{:id => "spot-location-search-button", :href => "javascript:void(0)" }
              = image_tag("/images/world_go.png") 
              = _("Geocode")
            %a.button{:id => "spot-location-add-button", :href => "javascript:void(0)" }
              = image_tag("/images/add.png") 
              = _("Marcador")
        #location-info.top-spacer
          Latitude:
          %span#latitude-label
          |
          Longitude: 
          %span#longitude-label
        
        #map-canvas
      %li.actions.clearfix
        %span.right
          %button.button{:type => "submit"}
            = image_tag("/images/add.png")
            = _("Guardar")
          %span.bright Ou
          = link_to "Cancelar", [:admin, :literary_routes]
