- javascript do
  :javascript
    jQuery(function() {
      var mapOptions = {
        locationFor: "location",
        locationElement: "#location_location",
        geocodeButton: "#spot-location-search-button",
        addMarkerButton: "#spot-location-add-button",
        mapCanvas: "#map-canvas",
        form: "form#location-form",
        mapOverlay: "#map-overlay",
        newRecord: #{@location.new_record?},
        locationsGet: "#{@location.new_record? ? "" : admin_literary_route_location_path(@route)}",
        locationsUpdate: "#{@location.new_record? ? "" : admin_literary_route_locations_path(@route)}",
        newLocations: "#new-location-fields",
        coordinatePrecision: 6,
        removeLast: true,
        handleUpdate: #{!@location.new_record?},
        inputTemplate: {
          latitude: '<input name="location[latitude]" type="hidden" />',
          longitude: '<input name="location[longitude]" type="hidden" />'
        }
      };
      new Fragmentized.AddRoute(mapOptions);
    });

= render "shared/model_validation", :current_model => @location
  
= form_for [:admin, @route, @location], :builder => LabellingWithErrorsFormBuilder, :html => { :id => "location-form" } do |form|
  %fieldset
    %ul.form
      %li.first
        = form.text_field :name
      %li
        = form.text_area :description, :rows => 10
      %li
        .yui-gc
          .yui-u.first
            #new-location-fields.hidden
            = form.text_field :location
          .yui-u
            .field-button
              %a{:class => "button", :id => "spot-location-search-button", :href => "javascript:void(0)"}
                = image_tag("/images/world_go.png") 
                = _("Geocode")
              %a{:class => "button", :id => "spot-location-add-button", :href => "javascript:void(0)"}
                = image_tag("/images/add.png") 
                = _("Posicionar")
        #location-info.top-spacer
          Latitude:
          %span#latitude-label
          |
          Longitude: 
          %span#longitude-label
        #map-canvas   
      %li.actions.clearfix
        %span.right
          %button.button{:type => "submit"}
            = image_tag("/images/add.png")
            = _("Guardar")
          %span.bright Ou
          = link_to "Cancelar", [:admin, @route, :locations]
