- javascript do 
	:javascript
		var uploadOptions = {
			uploadUrl: "#{admin_literary_route_location_location_assets_path(@route, @location)}",
			fieldName: "location_asset[asset]",
			buttonHolder: "upload-button-placeholder",
			queueHolder: "#media-holder",
			sessionKey: "#{Rails.application.config.session_options[:key]}",
			sessionData: "#{request.session_options[:id]}"
		};

= render "shared/model_validation", :current_model => @asset

= form_for([:admin, @route, @location, @asset], :html => { :multipart => true }, :builder => LabellingWithErrorsFormBuilder) do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :title, :class => "title"
			%li	
				= form.text_area :description, :rows => 10
			%li
				= form.file_field :asset, :example => _("(Ficheiros do tipo: gif, jpg, png, avi, mov)")
			- unless @asset.new_record?
				%li.clearfix
					= render "shared/media_info"
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", [:admin, @route, @location, :location_assets]