.media-info.clearfix
	- if !@asset.video_url.blank?
		#video-preview
			= link_to image_tag(@asset.asset.url(:thumb), :class => "left", :alt => @asset.title), "/admin/assets/#{@asset.id}", :class => "lightbox", :title => @asset.title
	- else
		= link_to image_tag(@asset.asset.url(:thumb), :class => "left", :alt => @asset.title), @asset.asset.url(:medium), :class => "lightbox"
		%ul.left
			%li
				= _("Tipo:")
				= @asset.asset_content_type
			%li
				= _("Tamanho:")
				= number_to_human_size(@asset.asset.size)
			- @geometry.keys.each do |style|
				%li
					= "#{style.to_s.titleize}: "
					= "#{@geometry[style].width} x #{@geometry[style].height}"