- if current_model.respond_to?(:errors) && current_model.errors.any?
	- content_for :validation do
		.validation
			= _("Oops! Foram detectados alguns erros no formulário. Por favor verifique os campos assinalados.")
			= image_tag("/images/cross.png", :class => "close-button");