- if @related_work.errors.any?
	- content_for :validation do
		.validation
			= _("Oops! Foram detectados alguns erros no formulário. Por favor verifique os campos assinalados.")
	
= form_for [:admin, @artist, @related_work], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :name
			%li	
				= form.text_field :date
			%li
				= form.text_area :description, :rows => 10
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						Guardar
					%span.bright Ou
					= link_to "Cancelar", [:admin, @artist, :related_works]