- javascript do
  :javascript
    jQuery(function() {
      var mapOptions = {
        locationFor: "statue",
        locationElement: "#statue_location",
        geocodeButton: "#spot-location-search-button",
        addMarkerButton: "#spot-location-add-button",
        mapCanvas: "#map-canvas",
        form: "form#statue-form",
        mapOverlay: "#map-overlay",
        newRecord: #{@statue.new_record? ? true : false},
        locationsGet: "#{@statue.new_record? ? "" : admin_statue_path(@statue)}",
        locationsUpdate: "#{@statue.new_record? ? "" : admin_statues_path}",
        newLocations: "#new-location-fields",
        coordinatePrecision: 6,
        removeLast: true,
        handleUpdate: true,
        inputTemplate: {
          latitude: '<input name="statue[latitude]" type="hidden" />',
          longitude: '<input name="statue[longitude]" type="hidden" />',
        }
      };
      new Fragmentized.AddRoute(mapOptions);
    });  

= render "shared/model_validation", :current_model => @statue
  
= form_for [:admin, @statue], :builder => LabellingWithErrorsFormBuilder, :html => { :id => "statue-form" } do |form|
  %fieldset
    %ul.form
      %li.first
        = form.text_field :title
      %li
        = form.collection_select(:artist_id, Artist.all, :id, :name, :include_blank => _("Selecione artista"), :path => [:new, :admin, :artist])
        = link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :artist], :class => "add-new", "data-title" => _("Adicionar Artista"), "data-source" => "statue_artist_id"
      %li
        .yui-gf
          .yui-u.first
            = form.collection_select(:entity_id, Entity.all, :id, :name, :include_blank => _("Selecione entidade"), :path => [:new, :admin, :entity])
            = link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :entity], :class => "add-new", "data-title" => _("Adicionar Entidade"), "data-source" => "statue_entity_id"
          .yui-u
            = form.collection_select(:author_id, Author.all, :id, :name, :include_blank => _("Selecione autor"))
            = link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :author], :class => "add-new", "data-title" => _("Adicionar Autor"), "data-source" => "statue_author_id"
      %li
        = form.collection_select(:category_id, Category.all, :id, :name, :include_blank => _("Selecione categoria"), :path => [:new, :admin, :category])
        = link_to image_tag("/images/add.png", :class => "icon"), [:new, :admin, :category], :class => "add-new", "data-title" => _("Adicionar Categoria"), "data-source" => "statue_category_id"
      %li
        .yui-gc
          .yui-u.first
            #new-location-fields.hidden
            = form.text_field :location
          .yui-u
            .field-button
              %a{:class => "button", :id => "spot-location-search-button", :href => "javascript:void(0)"}
                = image_tag("/images/world_go.png") 
                = _("Geocode")
              %a{:class => "button", :id => "spot-location-add-button", :href => "javascript:void(0)"}
                = image_tag("/images/add.png") 
                = _("Posicionar")
        #location-info.top-spacer
          Latitude:
          %span#latitude-label
          |
          Longitude: 
          %span#longitude-label
        #map-canvas   

      %li
        = form.text_field :date
      %li
        = form.text_area :description, :rows => 10
      %li
        = form.text_area :comment, :rows => 10
      %li.actions.clearfix
        %span.right
          %button.button{:type => "submit"}
            = image_tag("/images/add.png")
            = _("Guardar")
          %span.bright Ou
          = link_to "Cancelar", [:admin, :statues]
