= render "shared/model_validation", :current_model => @contact

- unless @sent
  = form_for(@contact, :builder => LabellingWithErrorsFormBuilder, :url => "/admin" ) do |form|
    %fieldset
      %ul.form
        %li.first
          = form.text_field(:subject)
        %li
          = form.text_area(:message, :rows => 10, :cols => 70)
          = form.hidden_field(:email, :value => current_user.email)
        %li.actions.clearfix
          %span.right
            %button.button{ :type => :submit }
              = image_tag("email_go.png")
              = _("Enviar")
- else
  %p= _("Pedido de suporte registado!")
