= render "shared/model_validation", :current_model => @theme
	
= form_for [:admin, @theme], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :name
			%li
				= form.text_area :description, :rows => 10
			%li
				= form.text_field :from
			%li
				= form.text_field :to
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", [:admin, :themes]