#flash-buttons
	#upload-button-placeholder
	%span
		%input{ :type => "hidden", :id => "asset_content_type" }

	%button.button{ :disabled => "disabled" }
		= image_tag("/images/cancel.png")
		= _("Cancelar")
		
#media-holder
