= render "shared/model_validation", :current_model => @user
	
= form_for [:admin, @user], :builder => LabellingWithErrorsFormBuilder do |form|
	%fieldset
		%ul.form
			%li.first
				= form.text_field :email
			%li
				= form.password_field :password
			%li
				= form.password_field :password_confirmation
			%li.actions.clearfix
				%span.right
					%button.button{:type => "submit"}
						= image_tag("/images/add.png")
						= _("Guardar")
					%span.bright Ou
					= link_to "Cancelar", [:admin]