- javascript do
  :javascript
    jQuery(function() {
      Fragmentized.Route.initialize({
        mapCanvas: "#map-canvas",
        url: "/api/routes",
        mapZoom: 11,
        mapOverlay: "#map-overlay"
      });
    });

%h2.underline= _("Rotas")
-##map-wrapper
  -#%ul#map-overlay
#map-canvas
