- javascript do
  :javascript
    jQuery(function() {
      $("#tabs").tabs();
      Fragmentized.Route.initialize({
        mapCanvas: "#map-canvas",
        url: "/api/routes/#{@route.to_param}",
        directions: false 
      });

      $("#map-navigation").easySlider({
        continuous: true,
        callback: Fragmentized.Route.routeNavigation
      });

      Fragmentized.Route.routeNavigation();
    });

#left-box.column
  .entity-info
    %h2= @route.name
    = parse_markdown(@route.description)
    - unless @route.author.nil?
      %h2.name= @route.author.name
      %p
        = @route.author.birthdate
        = "- #{@route.author.deathdate}" unless @route.author.deathdate.blank?
      #statue-preview 
        %p 
          = parse_markdown(@route.author.biography)

      %h5= _("Outros Percursos")
      %ul.link-list
        - for route in @route.author.literary_routes do
          - if route.id != @route.id
            %li
              = link_to(route.name, route)
    - if @route.themes.any?
      - for theme in @route.themes
        %h2.name= theme.name
        #statue-preview 
          %p 
            = parse_markdown(theme.description)

        %h5= _("Outros Percursos")
        %ul.link-list
          - for route in theme.literary_routes do
            - if route.id != @route.id
              %li
                = link_to(route.name, route)
#right-box.column
  #map-navigation-wrapper 
    #map-navigation
      %ul
        - for location in @route.locations do
          %li{ :data => { :id => location.id }}= location.name
  #map-canvas
  
  #tabs
    %ul
      %li
        %a{ :href => "#reality" }= _("Realidade")
      %li
        %a{ :href => "#fiction" }= _("Ficção")
      %li
        %a{ :href => "#media" }= _("Media")
    #related-info.clearfix
      #reality
      #fiction
      #media
        %ul#gallery.gallery
