!!!
%html
  %head
    %meta{:charset => "utf-8"}
  %body 
    %h1
      = _("Pedido de suporte pelo utilizador: ")
      = @data.email

    %h2
      = _("Assunto:")
      = @data.subject

    = parse_markdown(@data.message)
