%tr{:class => defined?(entity_counter) ? zebra(entity_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "entities[]", :value => entity.id}
	%td
		= link_to entity.name, [:edit, :admin, entity]
	%td
		= truncate(entity.description)
	%td
		= entity.birthdate
	%td
		= entity.deathdate
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, entity]
		|
		%span.action 
			= link_to "Apagar", [:admin, entity], :method => "delete"