(function() {
	var form = $("form[id*=entity]");
	<% if @entity.errors.any? %>

	var errors = <%= @entity.errors.to_json.html_safe %>;
	form.formErrors(errors, "entity").trigger("save:error");

	<% else %>
	var entity = <%= @entity.to_json.html_safe %>;
	
	form.trigger("save:success", [{
		valueMember: entity.entity.id,
		displayMember: entity.entity.name
	}]);
	
	$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
		$(this).remove();
	});
	<% end %>
})();