- title(_("Entidades"))

.box
	.titlebar
		= _("Entidades")
	.content
		= form_tag([:delete, :admin, :entities], :method => "delete") do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :entity], :table => @entities}
			%table#entity
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Nome")
						%td= _("Descrição")
						%td= _("Ano Nascimento")
						%td= _("Ano Morte")
						%td.action
				%tbody
					= render @entities
			%ul.table-bar.clearfix
				%li
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :entity], :table => @entities}