%tr{:class => defined?(related_work_counter) ? zebra(related_work_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "related_work[]", :value => related_work.id}
	%td
		= link_to related_work.name, [:edit, :admin, @artist, related_work]
	%td
		= related_work.description
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, @artist, related_work]
		|
		%span.action 
			= link_to	"Apagar", [:admin, @artist, related_work], :method => "delete"