- title("#{_('Trabalhos Relacionados')} - #{@artist.name}")

.box
	.titlebar
		= _('Outros Trabalhos Por') 
		= @artist.name
	.content	
		= form_tag([:delete, :admin, @artist, :related_works], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @artist, :related_work], :table => @related_works}
			%table#related-work
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td.name Nome
						%td.description Descrição
						%td.action
				%tbody
					= render @related_works
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, @artist, :related_work], :table => @related_works}