%tr{:class => defined?(theme_counter) ? zebra(theme_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "theme[]", :value => theme.id}
	%td
		= link_to theme.name, [:edit, :admin, theme]
	%td
		= truncate(theme.description)
	%td
		= theme.from
	%td
		= theme.to
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, theme]
		|
		%span.action 
			= link_to	"Apagar", [:admin, theme], :method => "delete"