- title(_("Temáticas"))

.box
	.titlebar
		= _("Temáticas")
	.content
		= form_tag([:delete, :admin, :themes], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :theme], :table => @themes}
			%table#themes
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Nome")
						%td= _("Descrição")
						%td= _("De")
						%td= _("Até")
						%td.action
				%tbody
					= render @themes
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :theme], :table => @themes}