%tr{:class => zebra(category_counter)}
	%td.check
		%input{:type => "checkbox", :name => "categories[]", :value => category.id}
	%td
		= link_to category.name, [:edit, :admin, category]
	%td
		= truncate(category.description)
	%td.action
		%span.action 
			= link_to	"Editar", [:edit, :admin, category]
		|
		%span.action 
			= link_to	"Apagar", [:admin, category], :method => "delete"
