(function() {
	var form = $("form[id*=category]");
	<% if @category.errors.any? %>

	var errors = <%= @category.errors.to_json.html_safe %>;
	form.formErrors(errors, "category").trigger("save:error");

	<% else %>
	var category = <%= @category.to_json.html_safe %>;
	
	form.trigger("save:success", [{
		valueMember: category.category.id,
		displayMember: category.category.name
	}]);
	
	$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
		$(this).remove();
	});
	<% end %>
})();