- title(_("Categorias"))

.box
	.titlebar
		= _("Categorias")
	.content
		= form_tag([:delete, :admin, controller_name], :method => "delete") do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :category], :table => @categories}
			%table#categories
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td.name Nome
						%td.description Descrição
						%td.action
				%tbody
					= render @categories
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :category], :table => @categories}