%tr{:class => defined?(literary_route_counter) ? zebra(literary_route_counter) : "new"}
	%td.check
		%input{:type => "checkbox", :name => "literary_route[]", :value => literary_route.id}
	%td
		= link_to literary_route.name, [:edit, :admin, literary_route]
	%td
		= link_to _("Locais") + " (#{literary_route.locations.length})", [:admin, literary_route, :locations]
	%td
		= link_to literary_route.author.name, [:edit, :admin, literary_route.author] unless literary_route.author.nil?
	%td
		= truncate(literary_route.description)
	%td.action
		%span.action 
			= link_to	_("Editar"), [:edit, :admin, literary_route]
		|
		%span.action 
			= link_to	_("Apagar"), [:admin, literary_route], :method => "delete"			
