<% if @literary_route.errors.any? %>

var errors = <%= @literary_route.errors.to_json.html_safe %>;

var objectName = "literary_route";
$(".field-error").remove();	
$(".field-with-errors").removeClass("field-with-errors");

for (var property in errors) {
	var id = "#" + objectName + "_" + property;
	var current = $(id);

	if (!current.is("select"))
		current.addClass("field-with-errors");
		
	current.parent().append('<span class="field-error">' + errors[property][0] + '</span>');
}
$("<%= escape_javascript(render 'shared/validation') %>").appendTo('body').delay(5000).fadeOut(function() {
	$(this).remove();
});

<% else %>

$("#yui-main .yui-b").html("<%= escape_javascript(render :template => 'admin/locations/index') %>");
$("<%= escape_javascript(render 'shared/success' ) %>").appendTo("body").delay(5000).fadeOut(function() {
	$(this).remove();
});

<% end %> 