- title("#{_('Rota Literária')} - #{@literary_route.name}")

.box
	.titlebar
		= @literary_route.name
	.content
		%ul.button-bar
			= link_to _("Locais"), [:admin, @literary_route, :locations]
		= render "shared/literary_route_form"