- title(_("Rotas Literárias"))

.box
	.titlebar
		= _("Rotas Literárias")
	.content
		= form_tag([:delete, :admin, :literary_routes], :method => :delete) do
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :literary_route], :table => @literary_routes}
			%table#literary-routes
				%thead
					%tr
						%td.check
							%input{:type => "checkbox", :name => "selectbox", :id => "selectbox"}
						%td= _("Rota")
						%td= _("Locais")
						%td= _("Autor")
						%td= _("Descrição")
						%td.action
				%tbody
					= render @literary_routes
			%ul.table-bar.clearfix
				%li
		
			= render :partial => "shared/admin_table_actions", :locals => { :path => [:new, :admin, :literary_route], :table => @literary_routes}