- javascript do
  :javascript
    Fragmentized.StatueMap.initialize({
      mapCanvas: "#map-canvas",
      mapOverlay: "#map-overlay"
    });

    Fragmentized.StatueMap.toggleDataDefinition();

#left-box.column
  %h2= _("Categorias")
  #statue-preview
  %p.spacer
  %dl#categories-list
    - @categories.each do |category|
      %dt
        %span.link= link_to(category.name, [category], "data-id" => category.id, :class => "category")
        - unless category.description.blank?
          %span.action 
            ( 
            %a.more{ :href => "javascript:void(0)" } + info 
            )
      %dd= category.description

#right-box.column
  #map-canvas
