- javascript do
  :javascript
    Fragmentized.StatueMap.initialize({
      mapCanvas: "#map-canvas",
      mapOverlay: "#map-overlay",
      url: "/api/statues/category/#{@category.id}"
    }); 


#left-box.column
  .entity-info
    %h2.name= @category.name
    %p
      = parse_markdown(@category.description)
  #statue-preview 

#right-box.column
  #map-canvas

