!!!
%html
  %head
    %title= yield :title
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "chrome=1"}
    %meta{:charset => "utf-8"}
    %meta{:name => "loading", :content => _("Loading")}
    = csrf_meta_tag
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css"
    = include_stylesheets :admin_bundle
  %body.custom-skin{ :class => controller_name }
    #doc3.yui-t2
      #hd
        .header
          %ul#top-menu.right
            / %li.first
            /   %span.status= _("Status: ")
            %li.first
              = link_to current_user.email, [:edit, :admin, current_user]
            %li
              = link_to _("Dashboard"), "/admin" 
            %li
              = link_to _("Logout"), destroy_user_session_path
            
      #bd
        #yui-main
          .yui-b
            = yield :validation
            - if flash.key?(:notice)
              = render "shared/success"
            - if flash.key?(:alert)
              = render "shared/alert"
            - if flash.key?(:error)
              = render "shared/error"
            = yield
        .yui-b
          %nav
            = render "shared/admin_sidebar"
    #dialog
      / #ft.footer
      /   Footer

    / begin: script
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=#{I18n.locale || 'pt'}", "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"
    
    = include_javascripts :admin_bundle
    = yield :js
    / end: script
