- meta_tags
!!!
%html
  %head
    %title= yield :title
    -#%meta{"http-equiv" => "X-UA-Compatible", "content" => "chrome=1"}
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css"
    = include_stylesheets :bundle
      
  %body{ :id => (request.request_uri =~ /monuments/) ? "statues" : "routes", :class => controller_name}
    .bottom-gradient
    .wood-texture

    #title
      %h1= Site.title 
      .background
      
    #wrapper.clearfix
      = render "shared/header" 
      #nav.clearfix
        %ul.primary
          %li.routes-tab
            = link_to _("Percursos"), [:literary_routes]
          %li.statues-tab
            = link_to _("Estátuas"), [:statues] 
    
        %ul.secondary
          - if request.request_uri =~ /monuments/
            %li.first{ :class => "artists" }
              = link_to _("Escultores"), [:artists]
            %li{ :class => "entities" }
              = link_to _("Entidades Representadas"), [:entities]
            -#%li{ :class => "categories" }
              -#= link_to _("Categorias"), [:categories] 
            -#%li{ :class => "statues" }
              -#= link_to _("Estátuas"), [:statues] 
          - else
            %li.first{ :class => "authors" }
              = link_to _("Autores"), [:authors]
            %li{ :class => "themes" }
              = link_to _("Temáticas"), [:themes]
            -#%li{ :class => "routes" }
              -#= link_to _("Rotas"), [:literary_routes]
      #main.clearfix
        = yield
      = yield :bottom
      = render "shared/footer"
    / begin: script
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=#{I18n.locale || 'pt'}", "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"
    = javascript_include_tag "easy-slider.js"
    = include_javascripts :bundle 
    = yield :js
    / end: script
