/ #wrapper
	/ #tab-nav.clearfix
	/ 	%ul
	/ 		%li.active
	/ 			= link_to _("Percursos"), "#"
	/ 		%li.last
	/ 			= link_to _("Estátuas"), "#"
	/ 	
	/ 	.secondary-menu			
	/ 		%ul.secondary-menu
	/ 			%li
	/ 				= link_to _("Artistas"), "#"
	/ 			%li
	/ 				= link_to _("Entidades"), "#"
	/ 			%li
	/ 				= link_to _("Categorias"), "#"
	/ 			%li
	/ 				= link_to _("Estátuas"), "#"
/ 	#primary-content.clearfix
/ 		.info-box.column
/ 			.info-header-bar
/ 			%h1.clear
/ 				Agustina Bessa Luís
/ 			%p.info-description
/ 				15 Out. 1922<br/>
/ 				Vila Meã
/ 			%p.info-content
/ 				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
/ 				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
/ 		.map-box.column
/ 			#map-canvas
/ 	#secondary-content
/ 		blargh!