- meta_tags
!!!
%html
  %head
    %title= yield :title
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "chrome=1"}
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css"
    = include_stylesheets :bundle
      
  %body{ :id => (request.request_uri =~ /monuments/) ? "statues" : "routes", :class => "#{action_name} #{params[:link]}"}
    = yield :validation
    .bottom-gradient
    .wood-texture

    #title
      %h1= Site.title
      .background
      
    #wrapper.clearfix
      = render "shared/header"
      #main-content.clearfix
        - if content_for?(:left)
          .content-left
            = yield :left
        - if content_for?(:right)
          .content-right
            = yield :right
        - if content_for?(:full)
          .content-full
            = yield :full

        = yield
      = render "shared/footer"
